body {
  margin: 0;
  background: rgba(28, 28, 28, 1);
}

.container {
  background: rgba(31, 41, 55, 1);
  width: 550px;
  height: 550px;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  padding: 20px 50px;
}

.line {
  border: 2px solid rgba(47, 62, 83, 1);
  margin: 20px 0px;
  width: 446px;
  background: black;
}
button {
  background: rgba(16, 185, 129, 1);
  width: 191px;
  height: 42px;
  padding: 9px, 17px, 9px, 15px;
  color: white;
  border-radius: 5px;
  border: none;s
}

.rectangle {
  background: rgba(47, 62, 83, 1);
  width: 211px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.display {
  display: flex;
  width: 446px;
  justify-content: space-between;
}

